
body {
  margin:0px;
}

.slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  width: 33%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
}

.label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.selectedItem {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-bottom: 10px;
}

.buttonWrapper {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-slot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  background-color: #126386;
  color: #fff;
  height: 62px;
  font-size: 25px;
}

.button-slot button {
  background-color: #126386;
  color: #fff;
  border: none;
  font-size: 16px;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  width: 100%;
}

.button-slot button:hover {
  opacity: 0.9;
  color: #fff;
}

:where(.css-dev-only-do-not-override-mxhywb).ant-btn-default:not(:disabled):hover {
  color: #fff;
}